.meat {
    height: 92px !important;
}

.ingredientContainer {
    position: relative;
    width: 100%;
}

.cheese {
    height: 48px !important;
    z-index: 5;
}

.salad {
    height: 50px !important;
}

.bacon {
    height: 51px !important;
}
